<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>a list of the tasks</title>
    <link th:href="@{/task_styles.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="intro">
        <h1>Welcome to your tasks page <span th:text="${username}">John Doe</span></h1>
        <p th:if="${#lists.isEmpty(tasks)}">
            You have no tasks at this point.
        </p>
    </div>
    <div id="task_table" th:unless="${#lists.isEmpty(tasks)}">
        <table>
            <thead>
                <tr>
                    <th>Task Number</th>
                    <th>Task Description</th>
                    <th>Task Deadline</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="task : ${tasks}">
                    <tr>
                        <td class="task_number" th:text="${task.taskNumber}">0</td>
                        <td class="task_description"><a class="descript_link" th:href="'/task?id='+${task.id}" th:text="${task.taskDescription}">This is the task description</a></td>
                        <td class="task_deadline" th:text="${task.taskDeadline}">This is the task deadline</td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
    <div>
        <a id="btn" href="add_task">Add a task</a>
    </div>
</body>
</html>